@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* padding: 0px; */
}
body,
html,
#root {
  background: #000;
  width: 100%;
}
main {
  height: 100vh;
  width: 100vw;
  position: absolute;
}
section {
  height: 100vh;
  width: 100vw;
  border: 2px solid white;
  position: relative;
}
